In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('RiversData.csv', nrows = 1854)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1854 entries, 0 to 1853
Data columns (total 10 columns):
id                1854 non-null int64
river             1854 non-null object
river_code        0 non-null float64
state_name        1854 non-null object
state_code        0 non-null float64
location          1854 non-null object
location_clean    1473 non-null object
location_code     1854 non-null int64
gps lat           0 non-null float64
gps long          0 non-null float64
dtypes: float64(4), int64(2), object(4)
memory usage: 145.0+ KB

In [7]:
df.sample(10)

,id,river,river_code,state_name,state_code,location,location_clean,location_code,gps lat,gps long
1378,1078,Beas,NaN,Himachal _x005F_x005F_x000D_Pradesh,NaN,Beas At D/S Manali,manali,2601,NaN,NaN
1274,971,Gautami-Godavari,NaN,Pondicherry,NaN,Gautami-Godavari River,gautami,2442,NaN,NaN
1678,955,D/S,NaN,Andhra Pradesh,NaN,"D/S Of Karakavagu At Paloncha,Ï¿½ Khammam, A.P.","paloncha, khammam",3081,NaN,NaN
965,391,Manas,NaN,Assam,NaN,"Manas At Nh-31 Crossing,_x005F_x005F_x000D_Bar...",barpeta road,2060,NaN,NaN
1545,105,Ganga,NaN,Uttarakhand,NaN,Upper Ganga D/S Roorkee,roorkee,2727,NaN,NaN
738,350,Brahmaputra,NaN,Assam,NaN,Brahmputra At_x005F_x005F_x000D_Dhenukhapahar,"dhenukhapahar, assam",1526,NaN,NaN
1272,968,Vansadhara,NaN,Odisha,NaN,Vansadhara At Muniguda (D/S Of M/S Vedantaalum...,muniguda,2426,NaN,NaN
1405,1114,Siuel,NaN,Himachal _x005F_x005F_x000D_Pradesh,NaN,Siuel At D/S Surgani,NaN,2616,NaN,NaN
501,1425,Mahanadi,NaN,Odisha,NaN,"Mahanadi At Hirakud Reservoir, Orissa",NaN,1281,NaN,NaN
411,451,Chota,NaN,Madhya Pradesh,NaN,"Chota Tawa B/C, With_x005F_x005F_x000D_Narmada","tawa river, mp",1236,NaN,NaN

In [8]:
df.tail(4)

,id,river,river_code,state_name,state_code,location,location_clean,location_code,gps lat,gps long
1850,779,Thumbe,NaN,Karnataka,NaN,Thumbe Water Supply Stations_x005F_x005F_x000D...,thumbe water pumping station,3562,NaN,NaN
1851,780,U/S,NaN,Karnataka,NaN,U/S Of Upiingady Town,upiingady town,3563,NaN,NaN
1852,781,D/S,NaN,Karnataka,NaN,D/S Shimsha Near Madduar_x005F_x005F_x000D_Town,madduar town,3567,NaN,NaN
1853,782,U/S,NaN,Karnataka,NaN,U/S Intake Point To_x005F_x005F_x000D_Nanjanag...,"debur, karnataka",3575,NaN,NaN

In [9]:
print(np.mean(df.location_code))

1935.8451995685004

In [11]:
#this shows that there are 1128 unique location codes
len(df.location_code.value_counts())

1128

In [13]:
len(df.location_code.unique())

1128

In [14]:
ndf = df.drop_duplicates(subset = ['location_code'], keep = 'first')

In [15]:
ndf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1128 entries, 0 to 1853
Data columns (total 10 columns):
id                1128 non-null int64
river             1128 non-null object
river_code        0 non-null float64
state_name        1128 non-null object
state_code        0 non-null float64
location          1128 non-null object
location_clean    1086 non-null object
location_code     1128 non-null int64
gps lat           0 non-null float64
gps long          0 non-null float64
dtypes: float64(4), int64(2), object(4)
memory usage: 96.9+ KB

In [16]:
ndf.to_csv('clean_locations.csv', index=None)

In [18]:
import googlemaps
from datetime import datetime

gmaps = googlemaps.Client(key='AIzaSyA4ivwH-FDohRhjhs_1XxNu4CIgZJsqypw')

# Geocoding an address
geocode_result = gmaps.geocode('DLF Capitol Point, Delhi')

ApiError: REQUEST_DENIED (You must enable Billing on the Google Cloud Project at https://console.cloud.google.com/project/_/billing/enable Learn more at https://developers.google.com/maps/gmp-get-started)