In [1]:
import pandas as pd
import numpy as np

In [6]:
fields = ['stationcode', 'river', 'location']
df = pd.read_excel('tcd-uchicago-data-2013 2014 2016 2017.xlsx', sheet_name = "tcd-all-data", nrows = 2735, usecols = fields)

In [7]:
df.tail(5)

,stationcode,river,location
2730,3019.0,THIRUMANIMUTHAR,"BHAVANI AT D/S OF BHAVANISAGAR, SATHYAMANGALAM..."
2731,3020.0,THIRUMANIMUTHAR,"U/S OF KALINGARAYAN CANAL (B5), ERODE, TAMILNADU"
2732,3021.0,THIRUMANIMUTHAR,"D/S OF KALINGARAYAN CANAL (B10), ERODE, TAMILNADU"
2733,3024.0,THIRUMANIMUTHAR,"SARABANGA AT SALEM, D/S OF TEXTILE DYEING INDU..."
2734,3022.0,THIRUMANIMUTHAR,"THIRUMANIMUTHAR AT SALEM,ï¿½ D/S OF SAGO & TEX..."

In [15]:
df.groupby('stationcode')['location'].value_counts().to_csv('duplicate_names.csv', index = True, header = True)