In [11]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_excel('cropdata19972017.xlsx')

In [13]:
df.head(5)

,STATECODE,STATENAME,DISTCODE,DISTNAME,YEAR,CROP,SEASON,AREA(HECTARE),PRODUCTION(TONNES),YIELD(TONNES/HECTARE)
0,36.0,Telangana,532.0,ADILABAD,1997,Arhar/Tur,Kharif,32200.0,1100.0,0.034161
1,37.0,Andhra Pradesh,553.0,ANANTAPUR,1997,Arhar/Tur,Kharif,21400.0,2600.0,0.121495
2,37.0,Andhra Pradesh,554.0,CHITTOOR,1997,Arhar/Tur,Kharif,6100.0,900.0,0.147541
3,37.0,Andhra Pradesh,545.0,EAST GODAVARI,1997,Arhar/Tur,Kharif,1600.0,300.0,0.187500
4,37.0,Andhra Pradesh,548.0,GUNTUR,1997,Arhar/Tur,Kharif,28400.0,14900.0,0.524648

In [14]:
df = df[df.DISTNAME != 'AURANGABAD']
df = df[df.DISTNAME != 'BALRAMPUR']
df = df[df.DISTNAME != 'BILASPUR']
df = df[df.DISTNAME != 'HAMIRPUR']
df = df[df.DISTNAME != 'PRATAPGARH']

In [15]:
df.to_excel('fivedistrictsremoved.xlsx', index= None)